/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Base Style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: "Azeret Mono", monospace;
}

section {
  margin-bottom: 50px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.sub-title {
  max-width: 852px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0;
  line-height: 30px;
  margin: 0 auto;
}

.secondary-btn {
  padding: 10px 24px;
  font-size: 20px;
  font-weight: 500;
  background-color: #ffffff;
  border: 1px solid #0d1321;
  border-radius: 5px;
}

.primary-btn {
  padding: 10px 24px;
  font-size: 20px;
  font-weight: 500;
  background-color: #0d1321;
  border: 1px solid #0d1321;
  color: #ffffff;
  border-radius: 5px;
}

/******************************** Header Style ********************************/

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.title {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}

/******************************** Hero Banner Style ********************************/
#hero-banner {
  background-image: url(assets/Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 652px;
  display: flex;
  justify-content: center;
}

.hero-banner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-info h1 {
  font-size: 48px;
  font-weight: 900;
  color: #0d1321;
  width: 960px;
  text-align: center;
  margin: auto;
  margin-top: 32px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/******************************** Why Web Style ********************************/
.bg-why-web {
  background-color: #fafafb;
  border-radius: 15px;
  padding: 50px 80px;
}
.bg-why-web h1 {
  text-align: center;
}

.card-one,
.card-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(0, 212, 255, 0) 100%
  );
  padding: 48px;
  border-radius: 15px;
  margin: 30px 0;
}

.card-two {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 48px;
  border-radius: 15px;
}

.card-info {
  max-width: 477px;
}

.card-info h2 {
  font-size: 24px;
  font-weight: bold;
  color: #0d1321;
}

.card-info p {
  font-size: 16px;
  padding: 20px 0;
  line-height: 25px;
}

.play-insert iframe {
  padding: 40px;
  margin: 0 50px;
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 20px;
}

/******************************** Current Target Style ********************************/

.target-card {
  display: flex;
  column-gap: 30px;
}

.card {
  padding: 40px;
  border-radius: 20px;
}

.card h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 900;
  margin: 15px 0 10px 0;
}

.card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}

.card a {
  font-size: 16px;
  font-weight: bold;
  color: #0d1321;
}

.html.card {
  background-color: #fff6f3;
}

.css.card {
  background-color: #f2f6fe;
}

.js.card {
  background-color: #fffdf2;
}

/******************************** Next Target Style ********************************/
